In [2]:
#Glass type prediction using Random Forest algorithm
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/dataset3/main/glass.csv',header=None)
df

      0        1      2     3     4      5     6     7     8    9   10
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0   1
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0   1
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0   1
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0   1
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0   1
..   ...      ...    ...   ...   ...    ...   ...   ...   ...  ...  ..
209  210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0   7
210  211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0   7
211  212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0   7
212  213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0   7
213  214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0   7

[214 rows x 11 columns]

In [8]:
df.columns =['Index','RI','Na','Mg','Al','Si','K','Ca','Ba','Fe','Type']
df

     Index       RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0        1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1        2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2        3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3        4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4        5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..     ...      ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209    210  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     7
210    211  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     7
211    212  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     7
212    213  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     7
213    214  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     7

[214 rows x 11 columns]

In [9]:
Y = df["Type"]
Y.head()
df = df.drop("Type",axis=1)
df.head()

   Index       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe
0      1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0
1      2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0
2      3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0
3      4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0
4      5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0

In [43]:
from sklearn import preprocessing  
t = df.values
min_max_scaler = preprocessing.MinMaxScaler()
t_scaled = min_max_scaler.fit_transform(t)
df = pd.DataFrame(t_scaled)
df

,0,1,2,3,4,5,6,7,8
0,0.000000,0.432836,0.437594,1.000000,0.252336,0.351786,0.009662,0.308550,0.000000
1,0.004695,0.283582,0.475188,0.801782,0.333333,0.521429,0.077295,0.223048,0.000000
2,0.009390,0.220808,0.421053,0.790646,0.389408,0.567857,0.062802,0.218401,0.000000
3,0.014085,0.285777,0.372932,0.821826,0.311526,0.500000,0.091787,0.259294,0.000000
4,0.018779,0.275241,0.381955,0.806236,0.295950,0.583929,0.088567,0.245353,0.000000
...,...,...,...,...,...,...,...,...,...
209,0.981221,0.223003,0.512782,0.000000,0.806854,0.500000,0.012882,0.348513,0.336508
210,0.985915,0.250219,0.630075,0.000000,0.529595,0.580357,0.000000,0.276022,0.504762
211,0.990610,0.417032,0.545865,0.000000,0.538941,0.644643,0.000000,0.279740,0.520635
212,0.995305,0.235294,0.548872,0.000000,0.514019,0.678571,0.000000,0.283457,0.498413
213,1.000000,0.261633,0.526316,0.000000,0.557632,0.633929,0.000000,0.296468,0.530159

In [78]:
from sklearn.model_selection import train_test_split
X_train,X_test, y_train, y_test= train_test_split(df,Y,test_size = 0.40, random_state= 0)
print((X_train.shape))

(128, 10)

In [79]:
import math 
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import mean_squared_error
from sklearn.metrics import accuracy_score
from math import sqrt
from sklearn import preprocessing
from sklearn import utils
from sklearn.metrics import accuracy_score,classification_report
#convert y values to categorical values
clf= RandomForestClassifier(n_estimators=500,max_depth=4,random_state=0)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
asc=accuracy_score(y_test, y_pred)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       1.00      1.00      1.00        28
           2       0.91      0.97      0.94        33
           3       1.00      0.73      0.84        11
           5       1.00      1.00      1.00         2
           6       0.75      1.00      0.86         3
           7       1.00      1.00      1.00         9

    accuracy                           0.95        86
   macro avg       0.94      0.95      0.94        86
weighted avg       0.96      0.95      0.95        86